* {
    border: 1px solid red;
}
.game {
    width: 800px;
    height: 300px;
    border-bottom: 1px solid #000;
    margin: auto;
}

#sonic {
    width: 70px;
    height: 70px;
    background-image: url(img/sonic.png);
    background-size: 70px 70px;
    position: relative;
    top: 239px;
    z-index: -1;
}
#cactus {
    width: 20px;
    height: 80px;
    background-image: url(img/cactus.png);
    background-size: 20px 70px;
    position: relative;
    top: 148px;
    left: 790px;
    animation: cactusMov 2s infinite linear;
}
@keyframes cactusMov {
    0% {
        left: 790px;
    }
    100% {
        left: -20px;
    }
}
.jump {
    animation: jump 0.3s linear;
}
@keyframes jump {
    0% {
        top: 150px;
    }
    30% {
        top: 130px;
    }
    50% {
        top: 40px;
    }
    80% {
        top: 130px;
    }
    100% {
        top: 150px;
    }
}